<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>乐谱类别</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('addMusicType')}">新 增</a>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <!--<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>-->
                <th class="">类名</th>
                <th class="">封面</th>
                <th class="">音乐/首</th>
                <th class="" style="width: 10%">操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <!--<td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>-->
                        <td>{$vo.ca_type} </td>
                        <td><img src="{$vo.ca_cover_img}" style="height: 100%;"></td>
                        <td>{$vo.ca_count}</td>
                        <td>
                            <a href="{:U('del?table=category&id='.$vo['ca_id'])}" class="del ajax-get">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Spectrum/index')}");
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        $(".del").click(function(){
            $(this).parent("td").parent("tr").remove();
        })


    </script>
</block>
