<extend name="Public/base"/>
<block name="style">

    <style>
        #upImg{
            width: 75px;
        }
        .file {width:75px;position: relative;display:inline-block;background:#D0EEFF;border:1px solid #99D3F5;border-radius:4px;padding:4px 12px;overflow: hidden;color:#1E88C7;text-decoration: none;text-indent:0;line-height:20px;margin-top: 3px;}
        .file input {width: 100px; position: absolute;font-size:100px;right:0;top:0;opacity:0;}
        .textarea{width: 35%;}
        #into_img{
            width: 100px;
            height: 80px;
            display: none;
            overflow: hidden;
            border-radius: 0.5em;
            border: 1px solid white;
        }
        #into_img img{
            width: 100%;
            height: 100%;
        }
        #hint_type,#hint_name,#hint_author,#hint_performer{
            color: red;
            display: none;
        }
        #error{
            width: 100px;
            height: 20px;
            float: left;
            background: red;
        }
        #type_select{
            width: 400px;
            height: 30px;
        }
        #introduct{
            width: 400px;
            height: 100px;
        }
        #hint_introduct{
            color: red;
            display: none;
        }

    </style>
</block>
<block name="body">
    <div class="main-title">
        <h2>乐谱管理</h2>
        <?php echo $error ?>
    </div>
    <form onsubmit="return checkInput();" action="{:U()}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-item">
            <label class="item-label">乐谱类别</label>
            <div class="controls">
                <select id="type_select" name="type_select">
                    <volist  name="list_type" id="vo">
                        <eq name="vo.ca_id" value="$music_info.m_type">
                            <option value="{$vo.ca_id}" selected = "selected">{$vo.ca_type}</option>
                        <else/>
                            <option value="{$vo.ca_id}">{$vo.ca_type}</option>
                        </eq>
                    </volist>
                </select>
            </div>
            <input type="hidden" name="choice" value="{$music_info.m_id}">
        </div>
        <div class="form-item">
            <label class="item-label">乐谱名</label>
            <div class="controls">
                <input type="text" class="text input-large" id="music_name" name="music_name" value="{$music_info.m_name}" readonly>
                <span id="hint_name">不能为空</span>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">作曲者</label>
            <div class="controls">
                <input type="text" class="text input-large" id="author" name="author" value="{$music_info.m_author}">
                <span id="hint_author">不能为空</span>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">演奏者<span class="check-tips">最多为140个字符</span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="performer" name="performer" value="{$music_info.m_player}">
                <span id="hint_performer">不能为空</span>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">简介<span class="check-tips">最多为140个字符</span></label>
            <div class="controls">
                <textarea maxlength="140"  id="introduct" name="introduct">{$music_info.m_intro}</textarea>
                <span id="hint_introduct">不能为空</span>
            </div>
        </div>
        <div class="form-item" style="width:100%;height:auto;">
            <label class="item-label">上传图片<span class="check-tips">作为乐谱的效果图使用</span></label>
            <div style="width:150px;height:auto;overflow:hidden;">
                <div id="into_img">
                    <if condition="$music_info.m_avatar != '' ">
                        <img id="old_img"  src="__ROOT__/Uploads/{$music_info.m_avatar}">
                    </if>
                </div>
                <a href="javascript:;" class="file">请选择图标<input type="file" name="upfile" id="upload"></a>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">乐谱</label>
            <div class="controls">
                <textarea id="myEditor" name="news_content" style="width:100%;min-height:200px;float:left;">{$music_info.m_score}</textarea>
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        </div>
    </form>
</block>

<block name="script">

    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U("Spectrum/music")}');
        var old_img = $("#old_img").attr("src");
        if(old_img != undefined){
            $("#into_img").show();
        }
        setTimeout(function(){
            $(".alert").remove();
            $("#error").remove();
        },2000);

        //获取图片信息
        $("#upload").on("change",function(){

            var resultFile = document.getElementById("upload").files[0];
            if (resultFile) {
                var reader = new FileReader();
                reader.readAsDataURL(resultFile);
                reader.onload = function (e) {
                    var urlData = this.result;
                    $("#old_img").remove();
                    document.getElementById("into_img").innerHTML += "<img id='old_img' src='" + urlData + "' alt='" + resultFile.name + "'/>";
                    $("#into_img").show();
                };
            }else{
                return;
            }
        })
        /*
         * 判断不能为空
         * 控件名、链接地址
         */
        function checkInput(){

            var music_name = document.getElementById("music_name").value;
            if(music_name == "") {
                $("#hint_name").show(setTimeout(function(){
                    $("#hint_name").fadeOut();
                },2000));
                $("#music_name").focus();
                return false;
            }
            var author = document.getElementById("author").value;
            if(author == "") {
                $("#hint_author").show(setTimeout(function(){
                    $("#hint_author").fadeOut();
                },2000));
                $("#author").focus();
                return false;
            }
            var introduct = document.getElementById("introduct").value;
            if(introduct == "") {
                $("#hint_introduct").show(setTimeout(function(){
                    $("#hint_introduct").fadeOut();
                },2000));
                $("#introduct").focus();
                return false;
            }
        }
        var ue = UE.getEditor("myEditor",{
            toolbars: [[  'insertimage']],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
        //加内容改变事件监听
        ue.addListener('contentChange',function(e){
            $(".btn").attr("disabled",false);
        });
        window.UEDITOR_HOME_URL = "/Uploads/";

    </script>
</block>