<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/liuyan.css">
</block>
<block name="body">
<article class="aboutcon">
    <h1 class="t_nav">
        <span>你，生命中最重要的过客，之所以是过客，因为你未曾为我停留。</span>
        <a href="{:U('Index/index')}" class="n1">网站首页</a>
        <a href="{:U('Message/gustbook')}" class="n2">留言版</a>
    </h1>
    <div class="book left">
        <!-- 评论展示区 -->
        <div class="comment_view">
            <?php
                for ($i=0; $i < count($data); $i++) {
                    echo '<hr style="margin-top: 5px;margin-bottom: 5px;"><img class="head_img" align="left" src="__IMG__/head.png" alt="head-portrait"><div class="contents">';
                    echo '<span class="account">姓名:'.$data[$i]['id'].'</span><br>';
                    echo '<span class="content">内容:'.$data[$i]['content'].'</span><br>';
                    echo '<span class="date">时间:'.$data[$i]['create_time'].'</span><span class="reply_a" onclick="reply('.$data[$i]['publish_u_id'].','.$data[$i]['id'].','.$data[$i]['id'].')" style="margin-left: 10px;color: black;">回复</span><br></div>';
                    for ($j=0; $j < count($value[$i]); $j++) {
                        echo '<div class="reply"><hr style="margin-top: 5px;margin-bottom: 5px;"><img class="head_img_small" align="left" src="__IMG__/head.png" alt="head-portrait"><div class="contents">';
                        echo '<span class="account">姓名:'.$value[$i][$j]['id'].'</span><br>';
                        echo '<span class="content">内容:'.$value[$i][$j]['content'].'</span><br>';
                        echo '<span class="date" style="margin-left: 40px;">时间:'.$value[$i][$j]['create_time'].'</span><span class="reply_a" onclick="reply('.$value[$i][$j]['publish_u_id'].','.$value[$i][$j]['root_id'].','.$value[$i][$j]['id'].')" style="margin-left: 10px;color: black;">回复</span><br></div></div>';
                    }
                }
            ?>
        </div>
        <!-- 分页显示区 -->

        <!-- 评论区 -->
        <div class="clear_float"><hr style="margin-top: 5px;margin-bottom: 10px;"></div>
        <div class="comment_area">
            <img class="head_img" align="left" src="__IMG__/head.png" alt="head-portrait">
            <div class="comment">
                <a href="#reply"></a>
                <input type="hidden" class="reply_u_id" value="">
                <input type="hidden" class="root_id" value="">
                <div class="Input_Box">
                    <textarea class="Input_text"></textarea>
                    <div class="faceDiv"></div>
                    <div class="Input_Foot"><a class="imgBtn" href="javascript:void(0);"></a><a class="postBtn">确定</a></div>
                </div>
            </div>
        </div>
    </div>
    <aside class="right">
        <div class="about_c">
            <p>扣扣：<span>2993120339</span></p>
            <p>姓名：孙春雨 </p>
            <p>生日：1993-03-19</p>
            <p>籍贯：河南省-周口市</p>
            <p>现居：河南省-新乡市</p>
            <p>职业：前端开发工程师</p>
            <a target="_blank" href="#">
                <img border="0" src="__IMG__/title1.jpg" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
        </div>
        <!--<script type="text/javascript">BAIDU_CLB_SLOT_ID = "932129";</script>-->
        <!--<script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>-->
    </aside>
</article>
</block>
<block name="script">
    <script src="__JS__/slider.js"></script>
    <script>
        function html2Escape(sHtml) {
            return sHtml.replace(/[<>&"]/g,function(c){return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];});
        }
        $('.postBtn').click(function() {

            if ($('.Input_text').val().length == 0) {
                alert("回复内容不能为空！");
            } else {

                var text =$('.Input_text').val();
                text = html2Escape(text);
                $.post("{:U('Message/publish_message')}",{message:text,reply_u_id:$('.reply_u_id').val(),root_id:$('.root_id').val()},function(data) {
                    if (data == "true") {

                        location.reload(true);
                        location.hash="#";
                        alert("发表评论成功！");
                    } else if(data == "logout") {
                        alert("请先完成登录操作，然后返回发表留言。");
                    } else {
                        alert("发表回复失败!请稍后再试……");
                    }

                })
            }
        })
        function reply(reply_u_id,root_id,account) {
            $('.reply_u_id').val(reply_u_id);
            $('.root_id').val(root_id);
            $('.Input_text').val("回复 "+account+":");
            //跳转锚
            location.hash="#reply";
            $('.Input_text').focus();
        }
    </script>
</block>